<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Center</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    
    <div class="overlay-container">
        <img src="/static/image/home1bg.jpg" alt="Medical Background" class="background-img">
        <div class="overlay">
            <div class="logo-text">
            </div>
        </div>
    </div>
    <a href="/home2" class="corner-button">Next Page</a>
    <!-- <button class="corner-button" onclick="nextPage()">Next Page</button>

    <script>
        // JavaScript to handle page navigation
        function nextPage() {
            window.location.href = 'nextpage.html'; // Replace with the URL or page you want to navigate to
        }
    </script> -->

</body>
</html>